/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
}

/* navbar logo and img */
#logo {
    margin: 5px 0px;
    margin-right: 790px;
}

#logo img {
    height: 70px;

}

/* navbar list styling */
#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 96%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color:wheat;

}

/* section home */
#home::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: url('home1.jpg') no-repeat center center/cover;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 520px;
}

#home p {
    font-size: 22px;
    background-color: rgba(187, 178, 178, 0.603);
    text-align: center;
}

/* utility classes */
.primary {
    font-size: 2.8rem;
}

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
}

.center {
    text-align: center;
}

.btn {
    border: 1px solid rgb(12, 8, 2);
    background-color: rgba(30, 153, 67, 0.986);
    margin: 17px;
    padding: 6px 20px;
    font-size: 1.4rem;
    border-radius: 6px;
    cursor: pointer;
}

/* services */

#services {
    display: flex;

}

#services .box {
    border: 2px solid brown;
    padding: 25px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;

}

#services .box img {
    height: 120px;
    margin: auto;
    display: block;
}

.newsletter__wrapper {
    display: flex;
    background-color: rgb(136, 199, 136);
    padding: 3rem;
    border-radius: 20px;
    gap: 2rem;
    margin: 100px 200px;
    max-width: 100%;
}

.newsletter__title {
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.767);
    font-weight: 600;
    margin-bottom: 1.3rem;
}

.newsletter__text {
    font-size: 1.4rem;
    color: rgba(46, 32, 32, 0.719);
    max-width: 400px;
    font-weight: 500;
}

.newsletter__form form {
    position: relative;
    width: 125%;
    margin-left: 20px;
    margin-top: 11%;
    overflow: hidden;
}

.newsletter__form input {
    font-size: 1.2rem;
    padding: 0.8rem 0.8rem;
    border: none;
}

.newsletter__form input::placeholder {
    color: rgba(132, 150, 101, 0.712);
}

.newsletter__form button {
    background-color: rgb(13, 83, 13);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    width: 26%;
    position: absolute;
    right: 0;
    top: 0;
}

#contact {
    display: flex;
    justify-content: center;

}

#contact .box1 {

    padding: 20px;
    margin: 10px 20px;
    border-radius: 100px;
    background: #f2f2f2;

}

#contact .box1 img {
    height: 120px;
    margin: 45px;
    display: block;
}

#contact .box1 a {
    text-decoration: none;
    color: black;
}

#contact .box1 p {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}
#form {
	padding: 4rem 8rem;
}
.form__title {
	font-size: 1.2rem;
	color: var(--black-1);
}

.form__wrapper form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}
.form__group label {
	font-size: 1.2rem;
	font-family: Poppins;
	color: var(--black-2);
	font-weight: 500;
}
.form__group input,
.form__group textarea,
.form__group select {
	width: 60%;
	border: 2px solid grey;
	background-color: var(--lightGreen-1);
	font-size: 1.4rem;
	border-radius: 8px;
	margin-top: 0.5rem;
	color: var(--black-2);
}
.form__group textarea {
	resize: vertical;
}
.form__wrapper button[type='submit'] {
	width: max-content;
	border: none;
	padding: 1rem 4rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}
@media only screen and (min-width: 768px) {
	.form__title {
		font-size: 3.6rem;
	}
	.form__wrapper {
		padding: 5rem 0;
	}
	.form__wrapper form {
		grid-template-columns: 1fr 1fr;
	}
	.form__group__full {
		grid-column: 1/3;
	}
	.form__group label {
		font-size: 1.8rem;
	}
	.form__group input,
	.form__group textarea,
	.form__group select {
		font-size: 1.8rem;
		padding: 2rem;
		margin-top: 1.5rem;
	}
}




footer {
    background: rgba(189, 211, 189, 0.425);
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 60px 0px;
    margin-top: 100px;
}

.footer__logo {

    width: 150px;
    margin-bottom: 1rem;
}

.footer__logo img {
    height: 70px;
}

.footer__desc {

    font-size: 1.4rem;
    color: black;
    margin-top: -1rem;
}

.footer__socials__title {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: black;
}

.footer__socials li {

    display: inline-block;
    
}

.footer__socials a {

    padding: 0.4rem 0.4rem;
}

.footer__socials svg {

    width: 20px;
    color: black;
}

.footer__text__title {
    font-size: 1.8rem;
    color: var(--black-1);
   
}

.footer__text a {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: black;
    line-height: 1.4em;
}

.footer__text li {
    list-style: none;
}

  